In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import networkx as nx

In [1]:
%%capture
import os

# check if this is a colab notebook and clone the repo if it is
if 'COLAB_GPU' in os.environ:
    %cd /content/
    !git clone https://github.com/Enver-group/twitch-web-analytics
    %cd twitch-web-analytics
    !gdown --id 11IfXaA66-D7vjA2R46uAilBgOPxYmKmn
else:
    os.chdir('..')

!pip install -r requirements.txt

!pip install -e .

In [2]:
#autoreload modules
%load_ext autoreload
%autoreload 2

from src.user import User

In [232]:
df = pd.read_csv("data/data_ibai.csv")
df.head()

          id  ...                                       user_follows
0  459331509  ...  ['210708721', '431460701', '77649106', '130065...
1   39276140  ...  ['277057209', '603776329', '91136321', '198363...
2   48878319  ...  ['143776262', '675347177', '33734881', '248222...
3   83232866  ...  ['35980866', '145908612', '205218019', '911363...
4  121510236  ...  ['43419527', '517536651', '476005292', '109492...

[5 rows x 11 columns]

In [233]:
# reformating the variable user_follows
print(type(df["user_follows"][0]))
display(df["user_follows"].head())
df["user_follows"] = df["user_follows"].str[1:-1].str.replace("'","").str.split(", ")
df["user_follows"] = df["user_follows"].apply(lambda x: np.nan if x==[''] else x)
df["user_follows"] = df["user_follows"].apply(lambda x: list(map(int, x)) if isinstance(x, list) else x)
print(type(df["user_follows"][0]))
display(df["user_follows"].head())

<class 'str'>

0    ['210708721', '431460701', '77649106', '130065...
1    ['277057209', '603776329', '91136321', '198363...
2    ['143776262', '675347177', '33734881', '248222...
3    ['35980866', '145908612', '205218019', '911363...
4    ['43419527', '517536651', '476005292', '109492...
Name: user_follows, dtype: object

<class 'list'>

0    [210708721, 431460701, 77649106, 130065491, 42...
1    [277057209, 603776329, 91136321, 198363811, 48...
2    [143776262, 675347177, 33734881, 248222879, 18...
3    [35980866, 145908612, 205218019, 91136321, 524...
4    [43419527, 517536651, 476005292, 109492660, 55...
Name: user_follows, dtype: object

In [202]:
# converting the df into a graph
G = nx.DiGraph()
for i,user in df.iterrows():
  G.add_node(user["id"], **user.drop(["id","user_follows"]))
  if isinstance(user["user_follows"], list):
    G.add_edges_from([(user["id"], id_followed) for id_followed in user["user_follows"]])

In [224]:
# checking the correctness of the graph
print("Number of nodes:", G.number_of_nodes())
print("Number of edges:", G.number_of_edges(), "\n")
for i, user in enumerate(G.degree()):
  if i >10:
    break
  print(G.nodes[user[0]]["name"], "is following to", user[1], "users")

Number of nodes: 315633
Number of edges: 1493481

auronplay is following to 2878 users
josecristo_ is following to 251 users
xXxTheFocuSxXx is following to 289 users
Ampeterby7 is following to 624 users
javiDMr10 is following to 216 users
gtv_genesis is following to 336 users
Tanizen is following to 622 users
Carola is following to 828 users
CooLifeGame is following to 1084 users
Luzu is following to 768 users
ZormanWorld is following to 331 users